<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://github.com/01org/webapps-memory-match" version="1.0" viewmodes="fullscreen">
    <icon src="memory-match-icon.png"/>
    <content src="index.html"/>
<name>memory-match</name>
<tizen:application id="cfKr0dUVnT" required_version="1.0"/>
<tizen:setting screen-orientation="landscape" contextmenu="enable"/>
</widget>
